.main-container {
  width: 100%;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.8rem;

  justify-items: center;

  border-radius: 1rem;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.str {
  margin-top: calc(12.8rem + 1vmin);
  font-size: 1.6rem;
  font-weight: 600;
  color: #adb5bd;
}
